* {
    font-family: 'Open Sans';
}
body {
	background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}

#page {
    margin: 0;
    padding: 0;
}

#header {
	background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}

#header, #content, #links {
    width: 850px;
    margin: auto;
}

#header {
    padding: 10px;
    margin-top: 10px;
    height: 100px;
}

#header h1 {
    font-size: 2.0em;
    margin: 0;
    padding-top: 20px;
    margin-bottom: 0.1em;
    letter-spacing: 0.03em;
    font-weight: bold;
}

#header h3 {
    font-size: 0.9em;
    margin-top: 20px;
}

img.logo {
    float: right;
}

div.logo {
    float: right;
    width: 250px;
    margin: 0 0 15px 20px;
    padding: 15px;
    text-align: left;
}

img.profile-photo {
    float: left;
}

#pi-content {
    margin-left: 220px;
}

#bar {
    min-height: 2px;
    background-color: #A41034;
    color: white;
}

#menu {
    clear: both;
}

ul#menu {
    text-align: right;
	font-weight: bold;
}

ul#menu li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

ul#menu li a {
  text-decoration:none;
}

ul#menu li a:hover {
  text-decoration:underline;
}

#content {
    background-color: white;
    min-height: 300px;
}


ul#resource li {
    padding: 5px;
}


#footer {
    clear: both;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 100px;
    text-align: left;
}

#footer span {
    padding: 15px 0px 20px 20px;
}

#contact-info {
    margin-left: 230px;
}

#profiles {
    margin-top: 50px;
}

#profiles .clear {
    clear:both;
}

.student-profile {
    height: 100px;
    width: 400px;
    float: left;
    padding-right: 20px;
    margin-bottom: 20px;
}

.student-profile img {
    float: left;
    margin-right: 5px;
}

.former-member {
  width: 250px;
  margin-bottom: 0px;
  height: 100px;
}


