/*
.news {
    font-size: 1.0em;
    margin-bottom: 10px;
}
.news .title {
    font-style: italic;
}
.news .source {
    font-weight: bold;
}
.news .link a {
    font-size: 1em;
}

.recentpub img {
	float: left;
}

.recentpub {
	clear: both;
	padding: 10px 0 10px 0;
}

.recentpub p {
	padding: 0;
	margin:0;
	margin-left: 160px;
}

*/